In [49]:
import numpy as np
import pandas as pd
from pathlib import Path

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [21]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

test_df.columns

Index(['loan_amnt', 'int_rate', 'installment', 'home_ownership', 'annual_inc',
       'verification_status', 'pymnt_plan', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt',
       'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
       'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl',
       'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl',
       'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'hardship_flag', 'debt_settlement_flag', 'target'],
      dtype='object')

In [16]:
#check for null values in train_df
# for column in train_df.columns:
    
#     print(f'Column {column} has {train_df[column].isnull().sum()} null values')

In [69]:
# Convert categorical data to numeric and separate target feature for training data
X_train = train_df.drop('target', axis=1)
X_train

X_train_dummies=pd.get_dummies(X_train)
X_train_dummies

y=pd.get_dummies(train_df['target'])
y_train=y[['high_risk']]
y_train

       high_risk
0              0
1              0
2              0
3              0
4              0
...          ...
12175          1
12176          1
12177          1
12178          1
12179          1

[12180 rows x 1 columns]

In [17]:
#check for null values in test_df
# for column in test_df.columns:
    
#     print(f'Column {column} has {test_df[column].isnull().sum()} null values')

In [70]:
# Convert categorical data to numeric and separate target feature for testing data
X_test = test_df.drop('target', axis=1)
X_test

X_test_dummies=pd.get_dummies(X_test)
X_test_dummies

y_t=pd.get_dummies(test_df['target'])
y_test=y_t[['high_risk']]
y_test

      high_risk
0             0
1             0
2             0
3             0
4             0
...         ...
4697          1
4698          1
4699          1
4700          1
4701          1

[4702 rows x 1 columns]

In [48]:
#Code from RL to help us find out what is missing is the testing set
train_list = X_train_dummies.columns.to_list()
test_list = X_test_dummies.columns.to_list()
# print(train_list)


# check for differences between column lists
# print(list(set(train_list).symmetric_difference(set(test_list))))

print("missing from train_list: ",list(set(test_list) - set(train_list)))
print("missing from test_list: ", list(set(train_list) - set(test_list)))

print(f'train column count: {len(train_list)}')
print(f'test column count:  {len(test_list)}')

missing from train_list:  []
missing from test_list:  ['debt_settlement_flag_Y']
train column count: 92
test column count:  91

In [71]:
# add missing dummy variables to testing set
X_test_dummies['debt_settlement_flag_Y']='0'
X_test_dummies

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,0,1,0,1,1,0,0,1,1,0
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,0,1,0,1,1,0,1,0,1,0
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,0,1,0,1,1,0,0,1,1,0
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,1,1,0,1,1,0,1,0,1,0
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,0.0,23215.0,...,0,1,1,0,1,0,1,0,1,0
4698,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,0.0,459.0,...,0,1,0,1,1,0,1,0,1,0
4699,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,0.0,6342.0,...,1,1,1,0,1,0,1,0,1,0
4700,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,1.0,11636.0,...,0,1,0,1,1,0,1,0,1,0
4701,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,0.0,4771.0,...,0,1,1,0,1,0,1,0,1,0

In [50]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [67]:
len(X_train_dummies)
len(y_train)
len(X_test_dummies)
len(y_test)

4702

# Prediction before fitting and printing scores
    I predict that the Random Forest Classifier will yield the most accurate model

In [72]:
#Fit(train) our model using the training data
classifier.fit(X_train_dummies, y_train)

# Validate the model by using the test data
print(f"Training Data Score: {classifier.score(X_train_dummies, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_dummies, y_test)}")

C:\Users\dczor\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Training Data Score: 0.6542692939244663
Testing Data Score: 0.5091450446618461

C:\Users\dczor\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [73]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_dummies, y_train)
print(f'Training Score: {clf.score(X_train_dummies, y_train)}')
print(f'Testing Score: {clf.score(X_test_dummies, y_test)}')

C:\Users\dczor\AppData\Local\Temp/ipykernel_13688/100007729.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_dummies, y_train)

Training Score: 1.0
Testing Score: 0.6482347937048064

In [77]:
# Scale the data
scaler = StandardScaler().fit(X_train_dummies)
X_train_scaled = scaler.transform(X_train_dummies)
X_test_scaled = scaler.transform(X_test_dummies)

X_test_scaled

array([[ 2.22409871, -0.71763657,  1.1957456 , ...,  5.93717104,
         0.02026518, -0.02026518],
       [ 0.70076538,  0.03728883,  0.22835062, ..., -0.16843038,
         0.02026518, -0.02026518],
       [-0.37193558,  0.03728883, -0.64632203, ...,  5.93717104,
         0.02026518, -0.02026518],
       ...,
       [-0.71480803,  1.70116722, -0.40375715, ..., -0.16843038,
         0.02026518, -0.02026518],
       [-0.91073515,  0.85876936, -1.0227017 , ..., -0.16843038,
         0.02026518, -0.02026518],
       [ 1.24446313,  1.2257734 ,  2.10605445, ..., -0.16843038,
         0.02026518, -0.02026518]])

In [75]:
# Train the Logistic Regression model on the scaled data and print the model score
#Fit(train) our model using the training data
classifier.fit(X_train_scaled, y_train)

C:\Users\dczor\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\dczor\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score